/.vscode
lesson19/execl
lesson20/exit
lesson20/orphan
lesson20/zombie
lesson21/wait
lesson21/waitpid
lesson22/pipe
lesson22/fpathconf
lesson22/parent-child-ipc
lesson22/test
lesson22/noblock
lesson23/mkfifo
lesson23/read
lesson23/write
lesson24/MyChatA
lesson24/MyChatB
