/.vscode
lesson19/execl
lesson20/exit
lesson20/orphan
lesson20/zombie
lesson21/wait
lesson21/waitpid
lesson22/pipe
lesson22/fpathconf
lesson22/parent-child-ipc
lesson22/test
lesson22/noblock
lesson23/mkfifo
lesson23/read
lesson23/write
lesson24/MyChatA
lesson24/MyChatB
lesson25/writeProc
lesson25/readProc
lesson25/mmap-parent-child-ipc
lesson25/mmap-anon
lesson25/copy
lesson25/cpy.txt
lesson26/alarm
lesson26/alarm1
lesson26/signal
lesson26/setitimer
lesson26/kill
lesson26/core
lesson26/sigset
lesson26/sigprocmask
lesson26/sigaction
lesson26/sigchld
lesson27/read_shm
lesson27/write_shm
